/* Variables */
:root {
    --main-bg-color: black;
    --sub-bg-color: #555353;
}

body {
    background-color: var(--main-bg-color);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: var(--sub-bg-color);
    border-radius: 20px;
}

a {
    color: white;
    text-decoration: none;
}

nav a {
    color: rgb(184, 180, 180);
    transition-duration: 300ms;
}

nav a:hover {
    color: white;
}

@media screen and (min-width:870px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    nav div {
        display: flex;
    }

    nav h2 {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media screen and (max-width:869px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    nav div:nth-of-type(odd) {
        display: none;
        
    }

    nav div:nth-of-type(even) {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}